
body {
    background: #667961;
}

.input-box {
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#but-reg-submit {
    margin-top: 30px;
    margin-left: 30px;
}

.al-center {
    margin-top: 8px;
    position: relative;
    float: right;
    right: 50%;
}

#signin-box {
    padding-bottom: 55px;
}

.dropdown-item a {
    display: block;
    padding: 3px 20px 0 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.messageBox {
    position: fixed;
    left:   50%;
    top:    30%;
    margin-left: -40%;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    display: none;
    width: 80%;
    border: outset 2px #FFFFFF;
    background: #D4D0C8;
}
